.content {
  margin: $big-header-height 0;
  min-height: calc(100% - #{$big-header-height});

  h1 {
    font-size: 2rem;
    margin: 0;
  }

  a {
    color: $primary;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
