.header {
  background: $red;
  color: $white;
  height: $big-header-height;
  left: 0;
  position: fixed;
  text-align: center;
  top: 0;
  width: 100%;
  z-index: 1;

  .header-language-switcher,
  .header-logo,
  .header-user-nav {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
  }

  .header-logo {
    font-size: 1.875rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
  }

  .header-logo-link {
    color: $white;
    text-decoration: none;
  }
}
