.header {
  align-items: center;
  background: $red;
  color: $white;
  display: flex;
  height: $big-header-height;
  justify-content: space-between;
  left: 0;
  padding: 0 $small-wrap-margin;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;

  @media #{$desktop-up} {
    padding: 0 $big-wrap-margin;
  }

  a {
    color: $white;
    text-decoration: none;
  }

  h1 {
    font-size: 1.875rem;
    font-weight: normal;
    line-height: 1;
    margin: 0;
  }
}
