.wrap {
  margin: 0 auto;
  max-width: $huge-device-width;
  min-width: $tiny-device-width;
  padding: 0 $small-wrap-margin;
  position: relative;

  @media #{$desktop-up} {
    padding: 0 $big-wrap-margin;
  }
}
