<header class="header">
  {% include promoBar.enable ? 'modules/promo-bar.html' ignore missing %}

  <div class="wrap">
    <ul class="header-language-switcher">
      <li class="header-list-item">English</li>
      <li class="header-list-item">Spanish</li>
    </ul>

    <div class="header-logo">
      <a class="header-logo-link" href="{{ siteUrl }}">{{ siteName }}</a></h1>
    </div>

    <ul class="header-user-nav">
      <li class="header-list-item">Search</li>
      <li class="header-list-item">User</li>
      <li class="header-list-item">
        <a href="/cart">Cart</a>
      </li>
    </ul>
  </div>

  {% include 'layout/nav-main.html' %}
</header>
