{% extends "_layout" %}

{% block content %}
  {% for block in entry.pageContent %}

    {# set vars to pass to includes #}
    {% set vars = { 'block': block } %}

    {% if block.type == 'hero' %}

      {% include 'modules/hero' with vars only %}

    {% elseif block.type == 'banner' %}

      {% include 'modules/banner' with vars only %}

    {% elseif block.type == 'productsCarousel' %}

      {% include 'modules/products-carousel' with vars only %}

    {% elseif block.type == 'productsFeatured' %}

      {% include 'modules/products-featured' with vars only %}

    {% elseif block.type == 'marketingBox' %}

      {% include 'modules/marketing-box' with vars only %}

    {% elseif block.type == 'info' %}

      {% include 'modules/info' with vars only %}

    {% endif %}

  {% endfor %}
{% endblock %}
