{#
 # Layout template
 # ---------------
 #
 # This template defines your site’s global layout. It can be
 # “extended” by other templates to fill in the gaps.
 #
 # See Twig’s Template Inheritance documentation for more details:
 # http://twig.sensiolabs.org/doc/templates.html#template-inheritance
 #}

<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
<head>
	<meta charset="utf-8" />
  <meta http-equiv="x-ua-compatible" content="ie=edge">
	<title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
  <meta name="description" content="">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="home" href="{{ siteUrl }}" />
  <link rel="stylesheet" href="/assets/style.min.css">
</head>

<body>
  <header class="header">
    <h1><a href="{{ siteUrl }}">{{ siteName }}</a></h1>

    <nav class="nav">
      <ul>
        <li><a href="{{ siteUrl }}">Home</a></li>
        <li><a href="{{ url('work') }}" {% if craft.request.firstSegment == 'work' %}class="active"{% endif %}>Work</a></li>
        <li><a href="{{ url('blog') }}" {% if craft.request.firstSegment == 'blog' %}class="active"{% endif %}>Blog</a></li>
        <li><a href="{{ url('about') }}" {% if craft.request.firstSegment == 'about' %}class="active"{% endif %}>About</a></li>
        <li><a href="{{ url('resume') }}" {% if craft.request.firstSegment == 'resume' %}class="active"{% endif %}>Resume</a></li>
        <li><a href="{{ url('contact') }}" {% if craft.request.firstSegment == 'contact' %}class="active"{% endif %}>Contact</a></li>
      </ul>
    </nav>
  </header>

  <main class="content" role="main">
    <div class="wrap">
      {% block content %}
        <p>Set <code>{% verbatim %}{% block content %}…{% endblock %}{% endverbatim %}</code></p>
      {% endblock %}
    </div>
  </main>

  <footer class="footer">
    <div class="wrap">
      Copyright {{ now.year }} {{ craft.request.serverName | ucfirst }}. All rights reserved.
    </div>
  </footer>

  <script src="/assets/app.min.js"></script>
</body>
</html>
