{% extends "_layout" %}

{% block content %}
  {% for block in entry.pageContent %}

    {# set vars to pass to includes #}
    {% set vars = { 'block': block } %}

    {% if block.type == 'hero' %}

      {% include 'page-content/hero.html' with vars only %}

    {% elseif block.type == 'banner' %}

      {% include 'page-content/banner.html' with vars only %}

    {% elseif block.type == 'productsCarousel' %}

      {% include 'page-content/products-carousel.html' with vars only %}

    {% elseif block.type == 'productsFeatured' %}

      {% include 'page-content/products-featured.html' with vars only %}

    {% elseif block.type == 'marketingBox' %}

      {% include 'page-content/marketing-box.html' with vars only %}

    {% elseif block.type == 'info' %}

      {% include 'page-content/info.html' with vars only %}

    {% endif %}

  {% endfor %}
{% endblock %}
